
/* Page setup */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);


html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: #181818;
}

button:focus {
	outline:0;
}

h1{
	font-family: 'Roboto-bold', sans-serif;
	font-size: 44px;
	line-height: 60px;
}

h2{
	font-family: 'Roboto', sans-serif;
	font-size: 36px;
	line-height: 46px;
}

p{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 26px;
}

a{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #fff;
}

li{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 24px;
	margin-top: 6px;
}

.container{
	max-width: 1200px;
	width: 100%;
	margin: auto;
}

.primary-button{
	color: #fff;
	background-color: #009FB7;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	border: none;
	border-radius: 20px;
}

.primary-button:hover{
	background-color: #008A9F;
}

.primary-button:active{
	background-color: #008A9F;
}

.secondary-button{
	color: #fff;
	background-color: #181818;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	border-width: 2px;
	border-color: white;
	border-radius: 20px;
}

.animsation{
	width:100%;
}

/* Top bar */

nav{
	float: right;
	padding-top: 15px;
}

nav a{
	margin-right: 25px;
	text-decoration: none;
}

#logo{
	width: 36px;
	height: 36px;
	float: left;
}

#navbar{
	padding-top: 15px;
}

#mobile_menu{
	color: #fff;
	font-size: 34px;
	float: right;
	display: none;
}


/* Code */

#mainheader{
	background-color: #181818;
	width: 100%;
	height: auto;
}

#headercontent{
	float: left;
	margin-top: 15px;
}

#headercontent h1{
	color: #fff;
}

.underline{
	border-bottom: 1px solid;
  	display: inline-block;
  	line-height: 0.85;
  	border-color: #fff;
  	padding-bottom: 4px;
}

#button-row{
	float: left;
	margin-bottom: 10px;
}

#button-row .secondary-button{
	margin-left: 15px;
}


/* Portfolio section */

.portfolio-container{
	width: 100%;
	background-color: red;
}

.tile{
	background-color: blue;
	height: 300px;
	width: 100%;
	float: left;
}

.tile2{
	background-color: red;
	height: 300px;
	width: 100%;
	float: left;	
}


/* Footer */

footer p{
	float: left;
	color: #fff;
	margin-top: 13px;
	font-size: 14px;
	margin-left: 25px;
}

footer a{
	float: right;
	margin-top: 16px;
    font-size: 14px;
    text-decoration:none;
    margin-right: 25px;
}

footer{
	height: 50px;
	width: 100%;
	float:left;
}

.footercontainer{
	width:100%;
	max-width:1200px;
	margin: auto;
}



@media only screen and (max-width: 480px) {

.container{
	max-width: 300px;
	width: 100%;
}

#mobile_menu{
	display: block;
}

nav{
	display: none;
}

#headercontent{
	width: 100%;
	margin-top: 60px;
	padding-bottom: 90px;
}

h1{
	font-size: 32px;
	line-height: 48px;
	top: 20%;
}

.primary-button{
	width: 100%;
	float: left;
	margin-top: 20px;
	height: 50px;
}

.secondary-button{
	width: 100%;
	float: left;
	margin-top: 20px;
	height: 50px;
}

#button-row .secondary-button {
    margin-left: 0px;
}

#button-row {
    float: left;
    margin-bottom: 10px;
    width: 100%;
}

}