
/* Page setup */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);


html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: #181818;
}

button:focus {
	outline:0;
}

h1{
	font-family: 'Roboto-bold', sans-serif;
	font-size: 44px;
	line-height: 60px;
}

h2{
	font-family: 'Roboto', sans-serif;
	font-size: 36px;
	line-height: 46px;
}

p{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 26px;
}

a{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #fff;
}

li{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 24px;
	margin-top: 6px;
}

.container{
	max-width: 1200px;
	width: 100%;
	margin: auto;
}

.primary-button{
	color: #fff;
	background-color: #009FB7;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	border: none;
	border-radius: 20px;
	padding: 10px 30px;
}

.primary-button:hover{
	background-color: #008A9F;
}

.primary-button:active{
	background-color: #008A9F;
}

.secondary-button{
	color: #fff;
	background-color: #181818;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	border-width: 2px;
	border-color: white;
	border-radius: 20px;
	padding: 10px 30px;
}

.animsation{
	width:100%;
}

/* Top bar */

nav{
	float: right;
	padding-top: 15px;
	margin-right: -18px;
}

nav a{
	margin-right: 25px;
	text-decoration: none;
}

#logo{
	width: 36px;
	height: 36px;
	float: left;
}

#navbar{
	padding-top: 15px;
}

#mobile_menu{
	color: #fff;
	font-size: 34px;
	float: right;
	display: none;
}


/* Code */

#mainheader{
	background-color: #181818;
	width: 100%;
	height: auto;
}

#headercontent{
	float: left;
	margin-top: 15px;
}

#headercontent h1{
	color: #fff;
}

.underline{
	border-bottom: 1px solid;
  	display: inline-block;
  	line-height: 0.85;
  	border-color: #fff;
  	padding-bottom: 4px;
}

#button-row{
	float: left;
	margin-bottom: 10px;
}

#button-row .secondary-button{
	margin-left: 15px;
}


/* Portfolio section */

.portfolio-container{
	width: 100%;
	background-color: red;
}

#red{
	background-color: red;
}

#blue{
	background-color: blue;
}

#purple{
	background-color: purple;
}

#yellow{
	background-color: yellow;
}

#green{
	background-color: green;
}


/* Footer */


footer {
    height: 50px;
    width: 100%;
    float: left;
}

footer p{
	float: left;
	color: #fff;
}

footer a{
	float: right;
	text-decoration: none;
}

/* MOBILE */

@media only screen and (max-width: 480px) {

#navbar{
	/*position: fixed;
	background-color: #181818;
	left: 0;
	right: 0;
	z-index: 5;
	height: 35px;*/
}

.container{
	width: 85%;
}

#mobile_menu{
	display: block;
	z-index: 100;
	/*margin-right: 10px;
	margin-top: -6px;*/
}

/*#navbar img{
	margin-left: 10px;
	margin-top: -8px;
}*/

nav{
	display: none;
}

#headercontent{
	width: 100%;
	margin-top: 60px;
	padding-bottom: 100px;
}

h1{
	font-size: 32px;
	line-height: 44px;
	top: 20%;
}

.primary-button{
	width: 100%;
	float: left;
	margin-top: 20px;
	height: 50px;
}

.secondary-button{
	width: 100%;
	float: left;
	margin-top: 20px;
	height: 50px;
}

#button-row .secondary-button {
    margin-left: 0px;
}

#button-row {
    float: left;
    margin-bottom: 10px;
    width: 100%;
}

.tile{
	height: 275px;
	width: 100%;
	float: left;
}

footer p{
	font-size: 14px;
}

footer a{
	display: none;
}

}

@media only screen and (min-width: 480px) {

.container{
	width: 90%;
}

#headercontent{
	float: left;
	padding-bottom: 120px;
	margin-top: 90px;
	width: 100%;
}

h1{
	font-family: 'Roboto-bold', sans-serif;
	font-size: 44px;
	line-height: 60px;
}

#headercontent h1{
	max-width: 500px;
}

.tile{
	height: 300px;
	width: 50%;
	float: left;
}

#button-row{
	margin-top: 10px;
}

}

@media only screen and (min-width: 768px) {

.container{
	width: 80%;
}

#headercontent{
	float: left;
	padding-bottom: 120px;
	margin-top: 90px;
	width: 100%;
}

h1{
	font-family: 'Roboto-bold', sans-serif;
	font-size: 44px;
	line-height: 60px;
}

}

@media only screen and (min-width: 1024px) {

.tile{
	height: 400px;
	width: 50%;
	float: left;
}

}

@media only screen and (min-width: 1200px) {

.container{
	width: 80%;
}

#headercontent{
	float: left;
	padding-bottom: 150px;
	margin-top: 100px;
	width: 100%;
}

#headercontent h1{
	max-width: 550px;
	width: 100%;
}

h1{
	font-family: 'Roboto-bold', sans-serif;
	font-size: 44px;
	line-height: 60px;
}

.tile{
	height: 450px;
	width: 50%;
	float: left;
}

}


/* overlay */

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #181818;
  overflow-y: hidden;
  transition: 0.3s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 32px;
  color: #fff;
  display: block;
  transition: 0.4s;
  font-family: 'Roboto', sans-serif;
  font-weight:bold;
}

.overlay .closebtn {
  position: absolute;
  top: -8px;
  right: 27px;
  font-size: 50px;
  font-weight: 300;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}