body{
	background-color: #181818;
}

#projectheader{
	background-color: #181818;
	width: 100%;
	height: 100%;
	overflow: auto;
}

#projectcontent{
	width: 45%;
  	color: #fff;
  	float: left;
  	margin-left: 10%;
  	margin-top: 90px;
  	padding-bottom: 75px;
}

.profilepic{
	height: 483px;
	width: 45%;
	background-image: url(../img/Profile-picture.png);
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	float: left;
  	margin-top: 130px;
}

#projecttext{
	margin-top: 40px;
}

#projectcontent h2{
	margin-top: 10px;
}

#factlist{
	margin-top: 30px;
	font-weight: 900;
}

/* MOBILE */

@media only screen and (max-width: 480px) {

.profilepic{
	height: 220px;
	width: 220px;
	background-image: url(../img/profilepicmobile.png);
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	float: none;
  	margin: auto;
  	margin-top: 80px;
}

#projectcontent{
	width: 100%;
	margin-left: 0;
	margin-top: 25px;
}

}

@media only screen and (min-width: 480px) {

.profilepic{
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	float: none;
  	margin: auto;
  	margin-top: 80px;
  	height: 430px;
	width: 335px;
}

#projectcontent{
	width: 100%;
	margin-left: 0;
	margin-top: 45px;
}

}

@media only screen and (min-width: 768px) {

.profilepic{
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	float: none;
  	margin: 0 auto;
  	margin-top: 80px;
	height: 430px;
	width: 335px;
}

#projectcontent{
	width: 85%;
	margin-left: 0;
	margin-top: 45px;
}

}

@media only screen and (min-width: 1024px) {

.profilepic{
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	float: left;
  	margin-top: 80px;
  	margin-left: 0px;
	height: 483px;
	width: 376px;
}

#projectcontent{
	width: 43%;
	margin-left: 50px;
	margin-top: 45px;
	float: left;
}


}

@media only screen and (min-width: 1200px) {

.profilepic{
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	float: left;
  	margin-top: 80px;
  	margin-left: 0px;
	height: 483px;
	width: 376px;
}

#projectcontent{
	width: 48%;
	margin-left: 75px;
	margin-top: 45px;
	float: left;
}


}